<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Gate | Edit Article</title>
</head>
<body>
    <h1>WELCOME</h1>
    <!-- <div>Title :{{ post.title }}</div>
    <div>Author : {{ post.author }}</div>
    <div>Date : {{ post.date_posted }}</div>
    <div>content : {{ post.content }}</div>
    <div>Likes : {{ post.likes }}</div>
    <div>Views : {{ post.views }}</div>
    <button >Like </button> -->
    <form method="POST">
        {% csrf_token %}
        <!-- <div>
            <input class="title" type="text" name="title" placeholder="TITLE HERE" value="{{ post.title }}">
        </div>
        <div>
            <input class="content" type="text" name="content" placeholder="Write Here" value="{{ post.content }}" size="200">
        </div> -->
    
            <!-- <div>
                <input class="title" type="text" name="title" placeholder="TITLE HERE">
            </div>
            <div>
                <input class="content" type="text" name="content" placeholder="Write Here" size="200">
            </div> -->
            {{ form.media}}
     
            {{ form.as_p }}
            
        <button type="submit">SAVE CHANGES</button>
    </form>

    <h1>Comments</h1>
    {% for comment in comments %}
        <p> >>> {{ comment.comment}}</p>
        <p>Date   : {{ comment.date_posted|date:"F d, Y" }}</p>
        <p>likes : {{ comment.likes }}</p>
    
    {% empty %}
        Not comments For Now.
    {% endfor %}
</body>
</html>