<!-- <html>
<head>
<title>registration form</title>
</head>
<h2 ALIGN="CENTER">*~~~ WELCOME ~~~*</h2>
<h2 ALIGN="CENTER">Registration form</h2>
<h2 ALIGN="CENTER">!****Content Management Website****!</h2>
<hr>

<form action="Welcome.html" method="post">
<table border="0" align="center">
<tbody>

<tr>
<td><label for="Username">Username : </label></td>
<td><input id="Username" maxlength="50" name="name" type="text" /></td>
</tr>

<tr>
<td><label for="fname"> First Name: </label></td>
<td><input id="fname" maxlength="50" name="name" type="text" /></td>
</tr>
<tr>
<td><label for="lname"> Last Name: </label></td>
<td><input id="lname" maxlength="50" name="name" type="text" /></td>
</tr>
<tr>
<td><label for="dob"> Date Of Birth :</label></td>
<td><input id="dob" type="date" name="dob"</td>
</tr>

<tr>
    <td>  <p>Gender:</p>
          <input type="radio" id="MALE" name="GENDER" value="MALE">
          <label for="MALE">Male</label><br>
          <input type="radio" id="FEMALE" name="GENDER" value="FEMALE">
          <label for="FEMALE">Female</label><br>
          <input type="radio" id="OTHER" name="GENDER" value="OTHER">
          <label for="OTHER">Other</label>
    </td>
</tr>

<tr>
<td><label for="email">Email_Address:</label></td>
<td><input id="email" maxlength="50" name="email" type="text" /></td>
</tr>

<tr>
<td><label for="number">Mobile Number:</label></td>
<td><input id="number" maxlength="50" name="number" type="number" /></td>
</tr>

<tr>
<td><label for="aboutus">About:</label></td>
<td valign="middle" align="center"><textarea rows="4" cols="35" name="aboutus"></textarea></td>
</tr>

<tr>
<td align="right"><input name="Submit" type="Submit" value="Submit" /></td>
</tr>

</tbody>
</table>
</form>
</html> -->
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <fieldset>
                {{ form|crispy }}
            </fieldset>
        </div>
        <button type="submit">
            Signup
        </button>
    </form>
    <div>
        Already have an account ?  <a href="{% url 'login' %}">Sign In</a> 
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>